
.header,
.footer {
  background-color: rgb(95, 121, 235);
  padding: 20px 20px 20px 100px;
  color: aliceblue;
}
.intro,
.box {
  padding-left: 100px;
  padding-right: 100px;
}
.card {
  margin-right: 30px;
  margin-top: 20px;
}
.course {
  padding-left: 100px;
  margin-bottom: 30px;
}
.all {
  display: flex;
  flex-wrap: wrap;
}

.course-img {
  width: 100%;
  height: 144px;
  background-image: url("./abc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.course-content {
  border: 1px solid #c3c3c3;
  padding: 15px;
}
.course-content p {
  margin-bottom: 15px;
}
.course-price {
  text-align: right;
  color: red;
  margin-top: 20px;
}
.teachers {
  padding-left: 100px;
  margin-bottom: 30px;
  max-height: 500px;
  overflow-y: auto; /* hieu ung cuon */
}
.teachers .teacher .image {
  width: 256px;
  height: 144px;
  background-image: url("./mytam.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  float: left;
}
.teachers .teacher {
  height: 144px;
  margin-bottom: 15px;
  position: relative;
}
.teachers .teacher .inf {
  float: left;
  border: 1px solid #dadada;
  width: 300px;
  padding-left: 15px;
  border-left: none;
  box-sizing: border-box;
  height: 144px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.teachers .teacher .number {
  position: absolute;
  bottom: -10px;
  left: 5px;
  background-color: black;
  opacity: 0.6;
  color: white;
  padding: 5px 10px;
}
.footer .more {
  width: 50%;
  display: inline-flex;
}
.footer .more ul {
  list-style: none;
}
.footer .more li {
  padding: 3px;
  cursor: pointer;
}
.footer .address {
  width: 50%;
  float: left;
}
.nav-container {
  float: right;
  height: 70px;
  padding: 30px;
  margin-right: 40px;
}
.nav-container a {
  margin-right: 10px;
}
.nav-container a:hover {
  border: 2px solid #919191;
  cursor: pointer;
}
.course-teacher img {
  vertical-align: middle;
}
.register {
    background: url("./background.jpg");
    height: 300px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -45px;

}
.register .text2{
    color: blanchedalmond;
    background-color: rgb(49, 136, 235);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.register .text2:hover{
    background-color: burlywood;
}
.register .text1{
    color: #fff;
    transform: translate(0,120px);
    transition: transform 2s;
    position: relative;
    top: -100px;
}